{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ],
    "no-console": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off"
  }
}